@media (max-width: 1023px) {
    .catalog{
        padding: 80px 0px 48px;
    }
    .catalog__content {
        display: flex;
        flex-direction: column!important;
        }
        .catalog__content-left{
            order: 4;
        }
        .catalog__desc {
            margin-bottom: 21px!important;
        }
        .catalog__heading{
            width: 153%;
        }
        .catalog__content{
            width: calc(750px / 924 * 100%);
            }
        .catalog__inner-list{
            column-count: 2!important;
            height: 288px;
            }
        .catalog__painter-image{
            position: relative;
            top: 50px;
            width: 100%;
            height: auto;
            margin-bottom: 46px;
            }
       
                
            .catalog__cub {
                width: 251px;
                height: 165px;
            }
            .catalog__wrapper-cub{
                width: 275px;
                height: 189px;
                margin-right: 24px;
                padding-right: 12px;
                margin-bottom: 25px;
                }
            .catalog__card-text {
                width: 275px;
            }
            .catalog__item{
                margin-right: -15px;
            }    
         
         .catalog__content-wrap{
             width: 70%;
         }
         .catalog__inner-list{
            padding: 0px 5px -5px 5px!important;
         }
         .catalog__painter-image {
            margin-bottom: 48px;
        }
        .catalog__content-wrap {
        padding-top: 25px;
        }
        .catalog__painter-name {
            margin-bottom: -2px;
        }
        .contacts__container {
            padding-top: 21px;
        }
.catalog__accordion{
        width: 100%;
        margin-bottom: 5px;
    }
}