.head-icon:hover{
    fill:#D1A9F0;
}
.catalog {
    padding: 58px 0px 64px
}
.catalog__title{
    margin-bottom: -7px;
    margin-right: 40px;
}
.catalog__top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 23px;
}
.catalog__countries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center; 
    list-style: none;
}
.catalog__countries-item{
    margin-right: 50px;
}
.catalog__countries-btn{
    display: flex;
    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    outline: none;
    width: 46px;
    height: 46px;
}
.catalog__countries-btn::before{
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #7943A4;
    opacity: 0;
    transition: opacity var(--short);
}
.catalog__country-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
   

}
.is-active.catalog__countries-btn::before{
    opacity: 1;
}
.catalog__countries-btn:hover,.catalog__countries-btn:focus{
    box-shadow: 0 0 20px rgba(157, 92, 208, 0.7);
}
.catalog__countries-btn:active{
    border: 2px solid #7943A4;
}
.catalog__countries-btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.catalog__countries-btn::after,.catalog__countries-btn::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    box-shadow: inset 0 0 0 2px rgba(157, 92, 208, 0.7);
}
.catalog__countries-btn:active::after{
    opacity: 1;
}
.catalog__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
.catalog__desc{
    margin-bottom: 40px!important;
}
.catalog__painter-image{
    margin-bottom: -5px;
    max-width: 100%;
}
.catalog__painter-name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 0px;
}
.catalog__painter-years{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.catalog__content-left{
    width: calc(750 / 1600 * 100%);
    }
.catalog__cub{
    width: 251px;
    height: 165px;
    background: #B7B7B7;
    margin-left: 12px;
    }
.catalog__wrapper-cub{
    border: 2px solid #B7B7B7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    height: 189px;
    margin-right: 40px;
    margin-bottom: 25px;
}   
.catalog__h3{
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
} 
.catalog__card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.catalog__card-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 276px;
}
.catalog__card-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #9D5CD0;
}
.catalog__empty{
    display: none;
}
.catalog__unknown-artist{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}
.catalog__unknown-desck{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.catalog-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #9D5CD0;
}
.catalog__unknown-paint{
    width: calc(750px / 1600 * 100%);
    max-width: 100%;
}
.link__texts:focus:not(:hover){
    background-color: #9D5CD0;
    color: white;
    position: relative;
    
}
.link__texts:active:not(:hover){
    background-color: #9D5CD0;
    color: white;
    position: relative;
    
}
.link__texts:hover:not(:focus){
    color: #9D5CD0;
    text-decoration: underline;
}
.catalog__show-empty:focus{
    background-color: #9D5CD0;
    color: white!important;
    position: relative;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.catalog__show-empty:active{
    background-color: #9D5CD0;
    color: white!important;
    position: relative;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.catalog__show-empty:hover{
    background-color:white ;
    color: #9D5CD0!important;
   text-decoration: underline;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.catalog__show-dominico:focus{
    background-color: #9D5CD0;
    color: white!important;
    position: relative;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.catalog__show-dominico:active{
    background-color: #9D5CD0;
    color: white!important;
    position: relative;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.catalog__show-dominico:hover{
    background-color:white ;
    color: #9D5CD0!important;
   text-decoration: underline;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.accordion__empty{
    display: flex;
    flex-direction: row;
}
.accordion__empty-wrapper{
    width:40%;
    height: 9vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #B7B7B7;
    margin-right: 24px;
    
}
.accordion__empty-paint{
    width:90%;
    height:90%;
    background-color: #B7B7B7;;
}
.catalog__empty-text{
    max-width: 275px;
}
.catalog__empty-h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}
.catalog__empty-texts{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.catalog__accordion{
    width: calc(800 / 1600 * 100%);
}
@media (max-width:1280px) {
 .accordion__empty-paint {
        width: 173px;
        height: 114px;
}
.accordion__empty-wrapper {
   width:189px;
   height:130px;
}
.catalog__empty-h3{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #333333;
margin: 0;
}
.catalog__empty-texts {
    width: 207px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.catalog__unknown-paint {
    width:calc(437px / 924 * 100%);
    height:auto;
   }
   .catalog__unknown-desck{
       max-width: 400px;
   }

}

@media (max-width:1023px) {
    .accordion__empty-paint {
           width: 251px;
           height: 165px;
   }
   .accordion__empty-wrapper {
      width:275px;
      height:189px;
   }
   .catalog__empty-h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
   }
   .catalog__empty-texts {
    width: 275px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
   }
   .catalog__unknown-paint {
    width:100%;
    height:419px;
   }
   .catalog__unknown-desck{
       max-width: 400px;
   }
   .catalog__content-left {
    width: 100%;
}
}
   
   @media (max-width:767px) {
       
    .accordion__empty-paint {
           width: 79px;
           height: 118px;
   }
   .accordion__empty-wrapper {
      width:90px;
      height:130px;
   }
   .catalog__empty-h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
   }
   .catalog__empty-texts {
    width: 174px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
   }
   .catalog__unknown-paint {
     height:auto;
   }
   .catalog__unknown-desck{
       max-width: 237px;
   }
}
