.head-icon:hover{
    fill:#D1A9F0;
}
.catalog {
    padding: 80px 0px 65px
}
.catalog__title{
    margin-bottom: -7px;
    margin-right: 40px;
}
.catalog__top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 23px;
}
.catalog__countries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center; 
    list-style: none;
}
.catalog__countries-item{
    margin-right: 50px;
}
.catalog__countries-btn{
    display: flex;
    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    outline: none;
    width: 46px;
    height: 46px;
}
.catalog__tab-content{
    display: none;
}
.catalog__tab-content.is-active{
    display: block;
    animation: fadeIn;
    animation-duration: 0.5s;
}
.catalog__countries-btn::before{
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #7943A4;
    opacity: 0;
    transition: opacity var(--short);
}
.catalog__country-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
   

}
.is-active.catalog__countries-btn::before{
    opacity: 1;
}
.catalog__countries-btn:hover,.catalog__countries-btn:focus{
    box-shadow: 0 0 20px rgba(157, 92, 208, 0.7);
}
.catalog__countries-btn:active{
    border: 2px solid #7943A4;
}
.catalog__countries-btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.catalog__countries-btn::after,.catalog__countries-btn::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    box-shadow: inset 0 0 0 2px rgba(157, 92, 208, 0.7);
}
.catalog__countries-btn:active::after{
    opacity: 1;
}
.catalog__painter-image{
    width: 750px;
    height: 470px;
}
.catalog__content{
    display: flex;
    flex-direction: row;
    border: 0px!important;
}
.catalog__desc{
    margin-bottom: 40px!important;
}
.catalog__painter-image{
    margin-bottom: 1px;
}
.catalog__painter-name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 0px;
}
.catalog__painter-years{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.catalog__description{
    width:750px;
}
.catalog__content-left{
    margin-right: 49px;
}
.catalog__cub{
    width: 251px;
    height: 165px;
    background: #B7B7B7;
    margin-left: 12px;
    }
.catalog__wrapper-cub{
    border: 2px solid #B7B7B7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    height: 189px;
    margin-right: 40px;
    margin-bottom: 25px;
}   
.catalog__h3{
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
} 
.catalog__card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.catalog__card-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 276px;
}
.catalog__card-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #9D5CD0;
}