.contacts{
   border-top: 1px solid #CACACA;
}
.contacts__link:hover,.contacts__link:focus{
    opacity: 0.4;
}
.contacts__link:active svg{
border: 1px solid #9643A4;
border-radius: 100px;
}
.contacts__content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contacts__form{
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    flex-wrap: wrap;
}
.contacts__name:hover, .contacts__name:focus, .contacts__ring:hover, .contacts__ring:focus {
    background-color: #EAEAEA;
}
.contacts__tel:hover, .contacts__tel:focus{
    color: white;
    background-color: #9D5CD0;
    }
.contacts__tel:focus{
        color: white;
        background-color: #9D5CD0;
        border: 3px solid #D1A9F0;
        }    
.contacts__input{
border: 1px solid #333333;
box-sizing: border-box;
border-radius: 100px;
height: 50px;
width: 150px;
flex-grow: 1;
}
.contacts__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contacts__tel{
    border-color: #9D5CD0;
    }
.contacts__form{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    width: calc(900 / 1700 * 100%);
    margin-right: auto;
    white-space: wrap;
    flex-wrap: wrap;
    }

.contacts__tel{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #9D5CD0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 100px;
    }
.contacts__shourum{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: -5px;
}
.contacts__container{
    padding-top: 26px;
    padding-bottom: 37px;
    
}
.contacts__text{
    margin-right: 80px; 
}
.contacts__input{
   padding: 10px 21px;
   margin-right: 20px;
}
.contacts__soc-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 6px;
   }
  
.contacts__soc-icon{
    width: 39px;
    height: 39px;
    margin-right: 15px;
}
.contacts__map{
    position: relative;
    width: 100%;
    height: 763px;
}
.contacts__house{
   white-space: nowrap;
    }
.contacts__but-ring{
    border: 2px solid #9D5CD0;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: white;
    color: #9D5CD0;
    }
.contacts__but-ring:hover{
    background-color: #9D5CD0;
    color: white;
}
   
@media(max-width:1280px) {
    .contacts__content{
        display:flex;
        flex-direction: column;
    } 
    .contacts__content {
        padding: 4px 1px;
    }
    .contacts__text{
        margin-bottom: 30px;
    } 
   
    .contacts__tel{
        position: relative;
        left: 0px;
        
        margin-bottom: -3px;
    } 
    .contacts__ring{
        position: relative;
       
        left: 62px;
    }   
       .contacts__map{
        height: 671px;
    }   
}
    @media(max-width:970px) {
        .contacts__form{
            flex-wrap: wrap;
        }
        .contacts__name{
         
            margin-bottom: 14px;
        }
        .contacts__ring{
           
            margin-right: 62px;
            margin-bottom: 15px;
        }
        .contacts__map {
            height: 701px;
        }
       
   }
   @media(max-width:610px) {
    .contacts__content {
        padding: 15px 1px;
    }
    .contacts__shourum {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: -7px;
    }
    .contacts__house{
        font-size: 14px;
        white-space: nowrap;
    }
    .contacts__text {
        margin-bottom: 12px;
    }
    .contacts__name{
      
        height: 25px;
    }
    .contacts__ring{
      
        height: 25px;
        position: relative;
        left: 0;
        padding-right: 78px;
    }
    .contacts__tel-ring{
        display: block;
        border: #C299E1 1px solid;
     
        height: 20px;
        font-size: 12px;
        padding: 21px 33px;
        font-weight: bold;
        }
    .contacts__tel-ring::placeholder{
       color:#C299E1;
       }    
    .contacts__tel{
        display: none;
    }
    .contacts__soc-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 38px;
    }
    .contacts__soc-icon{
        width: 50px;
        height: 50px;
    }
    .contacts__map{
        width: 100%;
        height: 289px;
        position: relative;
        top: -92px;   
    }
   }
    