.contacts{
   border-top: 1px solid #CACACA;
}
.contacts__link:hover,.contacts__link:focus{
    opacity: 0.4;
}
.contacts__link:active svg{
border: 1px solid #9643A4;
border-radius: 100px;
}
.contacts__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.contacts__form{
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    flex-wrap: wrap;
}
.contacts__name:hover, .contacts__name:focus, .contacts__ring:hover, .contacts__ring:focus {
    background-color: #EAEAEA;
}
.contacts__tel:hover, .contacts__tel:focus{
    color: white;
    background-color: #9D5CD0;
    }
.contacts__tel:focus{
        color: white;
        background-color: #9D5CD0;
        border: 3px solid #D1A9F0;
        }    
.contacts__input{
border: 1px solid #333333;
box-sizing: border-box;
border-radius: 100px;
height: 50px;
width: 270px;
padding: 10px 21px;
margin-right: 20px;
}
.contacts__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contacts__tel{
    border-color: #9D5CD0;
    }
.contacts__form{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    width: 910px;
    margin-right: auto;
    white-space: wrap;
    flex-wrap: wrap;
    }

.contacts__tel{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #9D5CD0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 100px;
    }
.contacts__shourum{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
   }
.contacts__container{
    padding-top: 28px;
    padding-bottom: 37px;
    
}
.contacts__text{
    margin-right: 80px; 
    line-height: 1.2;
}
.contacts__soc{
    padding-top: 5px;
}
.contacts__soc-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 6px;
   }
  
.contacts__soc-icon{
    width: 39px;
    height: 39px;
    margin-right: 15px;
}
.contacts__map{
    position: relative;
    width: 100%;
    height: 763px;
}
.contacts__house{
   white-space: nowrap;
    }
.contacts__but-ring{
    width: 330px;
    border: 2px solid #9D5CD0;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: white;
    color: #9D5CD0;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 30px;
    }
.contacts__but-ring:hover{
    background-color: #9D5CD0;
    color: white;
}
.contacts__input-effects:hover,.contacts__input-effects:focus{
    background-color: #EAEAEA;;
}
.contacts__but-efects:hover{
    background-color: #9D5CD0;
    color:white;
}
.contacts__but-efects:focus{
    background-color: #9D5CD0;
    color:white;
    border: 3px solid #D1A9F0;
}
.contacts__but-ring {
    height: auto;
}
@media(max-width:1280px) {
    .contacts__input {
        width: 72px;
        flex-grow: 1;
    }
    .contacts__content{
        display:flex;
    } 
    .contacts__content {
        padding: 4px 1px;
        flex-direction: column;
        align-items: baseline;
    }
    .contacts__text{
        margin-bottom: 30px;
    } 
    .contacts__form {
       width: 100%;
       margin-bottom: 31px;
    }
    .contacts__tel{
        position: relative;
        margin-bottom: -3px;
    } 
    .contacts__but-ring{
        font-size: 18px;
    }
    .contacts__ring{
        position: relative;
       
        left: 62px;
    }   
       .contacts__map{
        height: 671px;
    }   
}
@media(max-width:1023px) {
    .contacts__input {
        width: 219px;
        flex-grow: 1;
        margin-bottom: 5px;
    }
}
@media(max-width:767px) {
    .contacts__but-ring{
        display: none;
    }
    .contacts__input{
        width: 290px;
        flex-grow: 1;
        height: 39px;
        margin-bottom: 21px;
    }
    .contacts__tel-ring{
        border-radius: 100px;
        height: 39px;
        padding: 11px 33px 10px 32px;
    }
    .contacts__tel-ring {
    padding: 12px 33px -1px 32px;
    margin-bottom: 14px!important;
    }
    .contacts__soc-title {
        margin-bottom: 8px!important;
    }
    .contacts__soc-wrapper{
        margin-bottom: 50px;
    }
}
    @media(max-width:970px) {
        .contacts__form{
            flex-wrap: wrap;
        }
        .contacts__name{
         
            margin-bottom: 14px;
        }
        .contacts__ring{
           
            margin-right: 62px;
            margin-bottom: 15px;
        }
        .contacts__map {
            height: 701px;
        }
       
   }
   @media(max-width:610px) {
    .contacts__content {
        padding: 15px 1px;
    }
   .contacts__house{
        font-size: 14px;
        white-space: nowrap;
    }
    .contacts__text {
        margin-bottom: 12px;
    }
    .contacts__name{
      
        height: 25px;
    }
    .contacts__ring{
      
        height: 25px;
        position: relative;
        left: 0;
        padding-right: 78px;
    }
    .contacts__tel-ring{
        display: block;
        border: #C299E1 1px solid;
     
        height: 20px;
        font-size: 12px;
        padding: 21px 33px;
        font-weight: bold;
        }
    .contacts__tel-ring::placeholder{
       color:#C299E1;
       }    
    .contacts__tel{
        display: none;
    }
    .contacts__soc-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 38px;
    }
    .contacts__soc-icon{
        width: 50px;
        height: 50px;
    }
    .contacts__map{
        width: 100%;
        height: 289px;
        position: relative;
        top: -92px;   
    }
   }
   @media (max-width: 1023px){
.contacts__content {
    padding: 12px 1px}
.contacts__input {
 margin-bottom: 11px;
}
.contacts__but-ring{
    margin-bottom: 0px;
}
.contacts__map{
    width: 100%;
    height: 705px!important;
    position: relative;
    top: -92px;   
}
.contacts__soc-wrapper {
    margin-bottom: 63px!important;
}
}
@media (max-width: 767px){
.contacts__container {
    padding-top: 13px!important;
}
.contacts__input {
    margin-bottom: 21px;
}
.contacts__tel-ring {
    margin-bottom: -20px!important;
}
.contacts__map{
    width: 100%;
    height: 341px!important;
    }
}    