@media(max-width:1919px){
.contacts__container {
    padding-top: 23px;
}
.contacts__house {
    margin-bottom: 0px;
}
.contacts__container{
    padding-right: 27px;
}
.contacts__map{
    height: 700px;
}
}
@media(max-width:1280px){
    .contacts__container {
        padding-top: 42px;
    }
}
