@media (max-width: 1023px) {
            .events__slider-slide{
                width: 323px!important;
            }
            .events-slider-title {
                width: 219px;
            }
            .events__slidecontent {
                padding: 0px 5px 4px 45px;
            }
            .events__text-desc {
                width: 251px;
            }
            .events__slide-content2 {
                padding: 0px 1px 4px 37px!important;
            }
            .events__slidecontent {
                padding: 0px 5px 4px 45px;
            }
            .events-slidertitle {
                width: 251px!important;
            }
            .events__slider-slider{
                width: 112%!important;
               }  
            .events__slider {
                position: relative;
                overflow: hidden;
                width: 67%;
         }
        }
         @media (max-width: 768px) {
            .events__slider-slider{
                width: 99%!important;
            }  
            .events__slider {
                position: relative;
                overflow: hidden;
                width: 100%;
         }
         
         }         