.footer{
    background-color: black;
    position: relative;
    top: -71px;
}
.footer__soc-wrapper{
    display: flex;
    flex-direction: row;
}
.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 41px 48px;
    }
.footer__soc-icon{
    width: 50px;
    height: 50px;
}   
.footer__backsocicon:not(:last-child){
    margin-right: 15px!important;
    
} 
.footer__backsocicon:hover{
    fill: white;
}  
.footer__backsocicon:active{
    fill: #9D5CD0!important;
} 
.footer__backsocicon{
    fill: #CACACA;
} 
@media(max-width:1279px) {
.footer__container {
    padding: 42px 51px;
}
.footer__soc-icon{
    width: 60px;
    height: 60px;
    }
.footer__backsocicon:not(:last-child){
    margin-right: 31px!important;
        }  
.contacts__soc-wrapper{
    margin-bottom: -5px;
}        
    }
    @media(max-width:1023px) {    
    .footer__container {
        padding: 41px 51px 20px;
        position: relative;
        top: -32px;
    }
}


@media(max-width:767px) {
    .footer {
        background-color: black;
        position: relative;
        top: -92px;
    }
    .contacts__soc-wrapper{
        margin-bottom: 40px;
    }
    .footer__container {
        padding: 22px 51px;
    }
    .footer__soc-wrapper {
        margin-bottom: 10px;
    }
    .footer__logo{
        width: 97px;
        height: 22px;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
    }
    .footer__logo{
        order: 2;
    }
    .footer__soc-wrapper{
        order: 1;
    }
    .footer__container {
        padding: 20px 50px;
    }
    .footer__soc-icon{
        width: 50px;
        height: 50px;
    }
    .footer__soc-wrapper {
        margin-bottom: 11px;
    }
}
        
        