.gallery {
    padding-top: 76px;
    padding-bottom: 78px;
    color: white;
    background-color: black;
    background-image: url("../img/gallery-background-1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
 
  
  .gallery__content-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .gallery__left,
  .gallery__last {
    width: calc(400 / 1600 * 100%);
  }
  
  .gallery__select {
    min-height: 50px;
    border-radius: 5px;
    background-color: lightgray;
  }
  
  .gallery__last {
    position: relative;
  }
  
  .gallery__last-content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(24px);
  }
  
  .gallery__slider {
    width: calc(1150 / 1600 * 100%);
    margin-right: 0;
    padding-top: 19px;
  }
  
  .gallery__slides-container {
    overflow: hidden;
  }
  
  .gallery__nav {
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 6px;
  }
  
  .gallery__pagination {
    margin-right: 15px;
    text-align: center;
    }
  
  .nav-btn {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: #666666;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .nav-btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px / 2);
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    transform-origin: center;
  }
  
  .nav-btn--prev {
    margin-right: 15px;
  }
  
  .nav-btn--next::before {
    left: calc(50% - 7px / 2);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  
  .nav-btn--prev::before {
    left: calc(50% - 7px / 2);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  
  .gallery__slide {
    position: relative;
    overflow: hidden;
    background-color: #926B88;
  }
  
  .gallery__slide::before {
    content: "";
    position: relative;
    z-index: 1;
    display: block;
    padding-top: calc(100% - 6px);
    border: 3px solid transparent;
    box-sizing: border-box;
    transition: background-color .3s ease, border-color .3s ease;
  }
  
  .gallery__slide::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/loop.svg");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center top 46%;
    background-clip: content-box;
    transition: opacity .5s ease;
  }
  
  .gallery__slide:hover::after {
    opacity: 1;
  }
  
  .gallery__slide:focus {
    outline: none;
  }
  
  .gallery__slide:focus::before {
    border-color: #7943A4;
  }
  
  .gallery__slide:active::before {
    border-color: #D1A9F0;
    background-color: rgba(194, 131, 243, 0.4);
  }
  
  .gallery__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery__filter-title{
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .gallery__link__auth{
    color:#A370CB;
  }
  
  /* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */
  
  @media (max-width: 1280px) {
    .gallery__slider {
      width: calc(594/924*100%);
    }
    .gallery__left, .gallery__last {
      width: calc(280/924*100%);
    }
    .gallery__nav {
      padding: 0;
    }
  }
  
  @media (max-width: 970px) {
    .gallery__filter{
      width: 280px;
    }
    .gallery__left{
      position: relative;
      z-index: 11;
    }
   .gallery__left,
    .gallery__slider {
      width: 100%;
      margin-left: 0;
      margin-bottom: -9px;
    }
    
    .gallery__last {
      width: 100%;
    }
    
    .gallery__last-content {
      position: static;
    }
    
    .gallery__select {
      max-width: 300px;
    }
    .gallery__slide::before{
      padding-top: calc(280/317 * 100% - 6px);
    }
    .choices:last-child {
      margin-bottom: 32px;
    }
    .gallery__pagination {
      margin-right: 18px;
    }
    .gallery__nav{
      padding-left: 0;
    }
    .nav-btn{
      width: 30px;
      height: 30px;
    }
  }
  
  @media (max-width: 420px) {
    .gallery__slide::before {
      padding-top: calc(367/290 * 100% - 6px);
      } 
   .gallery__slider {
      display: flex;
      flex-direction: column-reverse;
    }
    
    .gallery__nav {
      align-self: center;
      margin-top: 20px;
    }
  .gallery {
      padding-top: 48px;
      padding-bottom: 50px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
}
.gallery__filter-title {
  margin-bottom: 6px;
}
.choices {
  width: 104%;
} 
.gallery__slides-container{
  margin-bottom: -3px;
}
.gallery__nav {
  margin-bottom: -13px;
  position: relative;
  z-index: 5;
}
}