.link:hover{
    color:var(--violet-light);
    fill:var(--violet-light);
}
.link:active
{
    color:var(--violet-dark);
    transition: none;
    fill:var(--violet-dark);
}
.link::before{
    content: "";
    position: absolute;
    left: -6px;
    top:-3px;
    right: -6px;
    bottom: -3px;
    background-color: var(--violet-dark);
    transform: scaleX(0);
    transition: transform var(--short);
}
.link:focus:not(:active):not(:hover)::before{
    transform: scaleX(1);
   }
.header__nav-link:focus{
    outline: none;
}
@media (min-width: 1280px) {
.header__account:hover{
    width: 75px;
    fill:var(--violet-light);
}
}
.header__search-input:focus::placeholder{
    opacity:0;
} 
.header__search-input:hover{
    border-color: var(--violet-light);
}
.header__search-input:focus{
    border-color: var(--violet-dark);
    outline: none;
}
.header{
    color: var(--white);
    font-size: 18px;
    line-height: 25px;
}
.header__top{
    background-color: var(--black);
    padding-top: 25px;
    padding-bottom: 13px;
    position: relative;
    z-index: 1;
}
.logo{
    flex-shrink: 0;
}
.header__logo-image{
    width: 100%;
    height: 41px;
    flex-shrink: 0;
}
.header__container,.header__nav,.header__menu{
    display: flex;
    align-items: center;
}
.header__container{
    justify-content: space-between;
    position: relative;
   }
.header__nav{
   justify-content: space-between;
   width: calc(1503 / 1920 * 100%);
   padding: 10px 0;
}
.header__nav.is-opened{
    display: flex;
    animation-name: menu-open;
    animation-duration: 2s;
}
.header__nav.is-closed{
    animation-name: menu-close;
    animation-duration: 2s;
    }

.header__menu{
    flex-wrap: wrap;
    width:61.3vw;
   }

.header__nav-item{
    margin-right: 3.29vw;
}
.header__login{
   width: 72px;
   }
.header__account{
    width: 72px;
    overflow: hidden;
}   
.header__nav-linck{
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    transition: color var(--short);
}
.header__account-arrow{
    position: relative;
    margin-left: -5px;
    fill: white;
    transform: rotateX(-5px);
    transition: color var(--short),transform var(--short);
}
.header__account{
    display: flex;
    align-self: flex-start;
    flex-shrink: 0;
    align-items: baseline;
    overflow: hidden;
    transition: transform var(--short),padding-left var(--short);
    display: flex;
    flex-direction: row-reverse;
}
.header__linck-text{
    position: relative;
    fill: white;
    font-size: 18px;
    
}
.link{
    position: relative;
    cursor: pointer;
}
.header__bottom{
    background-color: rgba(0,0,0,0.4);
}
.header__bottom-btn{
    background-color: rgba(0,0,0,0);
    border: none;
}
.header__burger{
    display: none;
}
.header__bottom-menu{
    display: flex;
    flex-wrap: wrap;
    width: calc(1250/1600*100);
    max-width: 1400px;
}
.header__bottom-item{
    position: relative;
    margin-right: 87px;
    padding-top:24px;
    padding-bottom: 5px;
}
.header__bottom-btn{
    text-align: left;
    color: inherit;
}
.header__bottom-linck-text::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 4px;
    border-right:1px solid;
    border-bottom:1px solid;
    transform: translateY(-50%) rotate(45deg);
}
.header__search{
    position: absolute;
    bottom: 14px;
    right:var( --container-padding);
    color: var(--white);
    display: flex;
    flex-direction: row-reverse;
    transform:translateY(285%);
    align-items: center;
    }
.header__search-input,.header__search-btn{
    color: inherit;
    background-color: rgba(0,0,0,0);
    border: none;

}
.header__search-input{
    color: inherit;
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    transition: border-color var(--short);
    font-family: inherit;
    padding-bottom: 2px;
    }
.header__search-input::placeholder{
    color: inherit;
} 
.header__search-btn::before{
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
} 
.header__search-btn{
    margin-right: 7px;
}
.header__burger{
    position: relative;
    width: 36px;
    height: 28px;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}  