@media (max-width: 767px) {
    .projects{
        padding-top: 31px;
        width: 100%;
        overflow: hidden;
    }
    .projects__title{
        margin-bottom: -4px;
    }
    .projects__text {
        margin-bottom: 20px;
    }
    .projects__partners-title {
        margin-bottom: 10px;
    }
    
    .partners-slider{
        margin-bottom: -57px;
    }
    .contacts__ring {
        position: relative;
        left: -2px;
        margin-bottom: 17px;
    }
    .contacts__tel-ring{
        margin-bottom: -6px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #9D5CD0;
        border-width: 2px;
    }
    .contacts__map{
        height: 320px!important;
    }
    .footer {
        background-color: black;
        position: relative;
        top: -102px;
    }
    .partners-slider__slide {
        width: 97%!important;
        }
    .contacts__form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: baseline;
     }
     .contacts__tel{
         display: none;
         border-color: #9D5CD0;
     }
     .contacts__tel-ring{
        border-color: #9D5CD0;
        border-width: 2px;
    }
    .events__next{
        display: none;
    }
    }
    @media (max-width: 320px) {
    .partners-slider__slide {
        width: 95%!important;
        }
    }