.projects__link{
    color:blueviolet;
}
.projects__partners-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    width: 250px;
    color: #333333;
}
.projects__text {
    max-width: 65%;
    overflow: hidden;
}
