@media (max-width: 1023px) {
.projects {
        padding-top: 80px;
        padding-bottom: 80px;
    }
.projects__text {
    margin-bottom: -1px;
    }
.projects__partners-title{
    margin-bottom: 30px;
}
}