.tippy-box[data-animation=scale][data-placement^=top] {
    transform-origin: bottom;
    }

.tippy-box[data-animation=scale][data-placement^=bottom] {
    transform-origin: top;
   

}

.tippy-box[data-animation=scale][data-placement^=left] {
    transform-origin: right
}

.tippy-box[data-animation=scale][data-placement^=right] {
    transform-origin: left
}

.tippy-box[data-animation=scale][data-state=hidden] {
    transform: scale(.5);
    opacity: 0;
    }
.tippy-box{
   background-color: #9D5CD0;
   color: white;
   text-align: center;
   padding: 5px;
   transition: background-color 0.30 ease-in-out;
   transition: color 0.3s ease-in-out;
}

.tippy-box[data-placement^="top"] > .tippy-arrow:before {
    border-top-color: #9D5CD0 !important;
  }
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    border-bottom-color: #9D5CD0 !important;
  }  
